<div class="container" ng-controller="CommentCtrl as commentCtrl" >

	<div class="row logo-text">
		<div>
			<h1><em>Welcome to Rony & Sheila's Wedding Gram</em></h1>
		</div>
	</div>

	<!-- <row1 starts> -->
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 logo-text">
			<i class="icon-heart"></i>
			<img height="200" width="300" src="/assets/images/RV_Wedding_Photography_Singapore034.jpg" alt="">

			<i class="icon-heart"></i>
			<!-- 4r 2c thumbnails -->
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">loving you to the end of time
			<img height="200" width="300" src="/assets/images/Wedding06-main.jpg" alt="">
			<!-- 4r 2c thumbnails -->
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">I will never find another you
			<img height="200" width="300" src="/assets/images/Wedding4.jpg" alt="">
			<!-- 4r 3c thumbnails -->
		</div>
	</div>
	<!-- <row1 starts> -->
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">always together
			<img height="200" width="300" src="/assets/images/CT7TjbUVAAAK9jH.jpg" alt="">
			<!-- 4r 2c thumbnails -->
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">loving as family
			<img height="200" width="300" src="/assets/images/jewish-wedding-image-for-blog-e1440167907886.jpg" alt="">
			<!-- 4r 2c thumbnails -->
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">roses are red
			<img height="200" width="300" src="/assets/images/wedding-1183271_960_720.jpg" alt="">
			<!-- 4r 3c thumbnails -->
		</div>
	</div>

	<!-- <row4 starts> -->
	<div class="row padding">
		<div class="form-group">
			<a ui-sref="rsvp">
				<button type="button" class="btn btn-default form-control"> 
                Click to RSVP</button></a>
		</div>
		<div class="container">
			<ui-view></ui-view>
		</div>
		
		<!--</div>-->
	</div>

	<div class="row logo-text">
		<!-- hb coding for comments starts here -->
		<form name="userForm" novalidate ng-submit="commentCtrl.placeComment()">
			<div class="form-group my-label">
				<label for="user">Username </label>
				<input type="text" name="user" id="user" class="form-control" size="30" placeholder="Your user name" ng-model="commentCtrl.user">
			</div>
			<div class="form-group my-label">
				<label for="comment">Comment </label>
				<input type="text" name="comment" id="comment" class="form-control" size="100" placeholder="Your comment" ng-model="commentCtrl.comment">
			</div>
			<h5>
				{{ commentCtrl.user }} {{ commentCtrl.date }} {{ commentCtrl.comment }}
			</h5>

	<div>
			<div>
				<!--class="form-control">-->
				<button type="submit" class="btn btn-default form-control">
				Confirm and show comments...</button>
			</div>
			<div>
				<form name="Comments" novalidate>
					<table class="table">

						<tbody>
							<tr ng-repeat="i in commentCtrl.comments">
								<!--show LIFO ?-->
								<td>{{ i.c_user }}</td>
								<td>{{ i.c_text }}</td>
								<td>{{ i.c_date }}</td>

							</tr>
						</tbody>
					</table>
				</form>
				<!-- Comments -->
			</div>
	</div>
	</form>
	<!-- userForm -->
</div>