<div class="container" ng-controller="RegCtrl as ctrl">
      
    <form name="regForm" novalidate ng-submit="ctrl.register()" autocomplete="off" class="logo-text form-inline ">
        <div class="form-group" ng-class="{ 'has-error': regForm.guestEmail.$touched && regForm.guestEmail.$invalid }">
            <label for="guestEmail">Guest Email:</label>
            <input type="email" id="guestEmail" name="guestEmail" class="form-control" ng-model="ctrl.guests.email" required placeholder="Email Ex : abc@abc.com">
        </div>
        
        <div class="form-group" ng-class="{ 'has-error': regForm.guestName.$touched && regForm.guestName.$invalid }">
            <label for="guestName">Guest name:</label>
            <input type="text" id="guestName" name="guestName" class="form-control" ng-model="ctrl.guests.name" required placeholder="Enter Your Name ">
            <div class="help-block" ng-messages="regForm.guestName.$error" ng-if="regForm.guestName.$touched">
                <p ng-message="required">Guest Name Required</p>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-default form-control" ng-disabled="regForm.$invalid">
                I'll Attend</button>
        </div>
        <div class="form-group">
			<button type="button" ui-sref="gallery1" class="btn btn-default form-control">
                Close</button>
		</div>
        <div class="help-block logo-text">
                <p>{{ctrl.status}}</p>
        </div>
    </form>
</div>