<div class="padding" ng-controller="ListGuestCtrl as ctrl" >
    
        <form name="ListGuestForm" novalidate ng-submit="ctrl.list()">
            <!-- Creates button used to submit data -->
            <div class="form-group">
                <button type="submit" class="btn btn-default form-control">
                List</button>
            </div>
        </form>
   
    <div class="logo-text">
        <table class="table table-striped table-hover">
            <thead>
                <th>Guest Email</th>
                <th>Guest Name</th>
                <th>Attendance</th>
                <th>Mark attendance</th>
                <th>Delete Guest</th>
            </thead>
            <tbody>
                <tr ng-repeat="i in ctrl.guestList">
                    <td> {{i.guest_email}}</td>
                    <td> {{i.guest_name}}</td>
                    <td> {{i.attendance}}</td>
                    <td>
                        <button class="btn btn-default" ng-click="ctrl.attendance(i.guest_email)" name="attendance" value="Here">Attended</button>

                    </td>
                    <td>
                        <button class="btn btn-default" ng-click="ctrl.deleteGuest(i.guest_email)" name="Delete" value="Delete">Delete</button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
     <hr>
                <button type="button" ui-sref="couple" class="btn btn-default form-control">
                Close List</button>

</div>