<div class="container" ng-controller="LoginCtrl as ctrl">

	<div class="col-sm-4 col-sm-offset-2" style="border:.5px solid #aaa;">
		<!-- LOGIN FORM -->
		<form name="loginForm" novalidate autocomplete="off">
			{{ctrl.status}}
			<div class="form-group"></div>
			<div class="form-group   ">
				<input type="email" class="form-control" ng-model="ctrl.user.email" placeholder="Email address" name="email" required>
				 <div class="help-block" ng-messages="loginForm.email.$error" ng-if="loginForm.email.$touched">
                    <p ng-message="required">Email Address is mandatory</p>
                </div>
			</div>
			<div class="form-group ">
				<input type="password" class="form-control" ng-model="ctrl.user.password" name="password" placeholder="Password" required>
				 <div class="help-block" ng-messages="loginForm.passwords.$error" ng-if="loginForm.passwords.$touched">
                        <p ng-message="required">Password is mandatory</p>
                    </div>
			</div>

			<div class="form-group">
				<button type="button" class="btn btn-success form-control" ng-click="ctrl.login()">
				Login
		</button>
			</div>
		</form>

		<hr>

		<p>Need an account <a ui-sref="signin">Signup</a></p>
		<hr>

	</div>

</div>