<div class="container">
	<div class="form-group">
		<div class="padding  logo-text">
			<a ui-sref="guest">
				<button type="button" class="btn btn-lg form-control">
				GUEST </button>
			</a>
		</div>
		<div class="padding  logo-text">
			<a ui-sref="couple">
				<button type="button" class="btn btn-lg form-control">
				COUPLE </button>
			</a>
		</div>
	</div>
</div>