<div class="container" ng-controller="RsvpCtrl as rsvpCtrl">
    <div class="padding logo-text">
        <h3 class="logo-text my-label">
            <i class="fa fa-envelope" aria-hidden="true"></i> Send Invitations</h3>
        <hr>
        <p class="logo-text"> {{rsvpCtrl.status}}</p>
        <form class="form-inline" ng-submit="rsvpCtrl.attendance()">
            <div class="form-group">
                <label for="name">Guest Name:</label>
                <input type="text" class="form-control" id="name" placeholder="Jane Doe"  ng-model="rsvpCtrl.name">
            </div>
            <div class="form-group">
                <label for="guest_email">Guest Email:</label>
                <input type="email" class="form-control" id="guest_email" placeholder="jane.doe@example.com" ng-model="rsvpCtrl.email" >
            </div>
            <button type="submit" class="btn btn-default">
                <strong>SEND INVITE</strong>
            </button>
            
        </form>
        
    </div>

    <div class="padding">
        <a ui-sref="list">
            <h3 class="logo-text my-label">
                <i class="fa fa-th-list" aria-hidden="true" style="margin-right: 5px;"></i>See Your Guest List </h3>
        </a>
    </div>

    <ui-view></ui-view>

</div>